/*Arquivo CSS*/

/*Tags*/
*{
	font-family:Arial;
	margin:0;
	padding:0;	
}

header{
	background-color:white;
	height:40px;
	padding:10px;
}

body{
	background-color:white;
	color:black;
	font-size:15px;
	text-shadow:1px 1px 1px gray;
}

footer{
	/*Safari,Chrome*/
	background-image:-webkit-linear-gradient(#35b8b0,#00DC7D);
	/*Firefox*/
	background-image:-moz-linear-gradient(#35b8b0,#00DC7D);
	/*Opera*/
	background-image:-o-linear-gradient(#35b8b0,#00DC7D);
	clear:both;
	height:30px;
	padding:10px;
	text-align:center;
	font-family:Arial;
}

h1{
	color:black;
	font-family:Didot,Arial;
	text-align:center;
	padding:10px;
}

h2{
	color:black;
	font-family:Didot,Arial;
	text-align:center;
	padding:10px;
}
	
p{
	color:white;
	font-family:Arial;
}
	
/*IDs*/
#principal{
	background-image:url('cidade.jpg');
	background-size:100%;
	min-height:500px;
	padding:10px;
	clear:both;
}

#criadores{
	background-image:url('criadores.png');
	background-size:70%;
	min-height:500px;
	padding:10px;
	clear:both;
}

#fale_conosco{
	/*Safari,Chrome*/
	background-image:-webkit-linear-gradient(white,#35b8b0);
	/*Firefox*/
	background-image:-moz-linear-gradient(white,#35b8b0);
	/*Opera*/
	background-image:-o-linear-gradient(white,#35b8b0);
	min-height:500px;
	padding:10px;
	clear:both;
}

#Gustavo{
	/*Safari,Chrome*/
	background-image:-webkit-linear-gradient(red,white);
	/*Firefox*/
	background-image:-moz-linear-gradient(red,white);
	/*Opera*/
	background-image:-o-linear-gradient(red,white);
	padding:10px;
	display:inline-block;
	padding:7px;
	width:32%;
	border-radius:10px;
}

#Rafael{
	/*Safari,Chrome*/
	background-image:-webkit-linear-gradient(green,white);
	/*Firefox*/
	background-image:-moz-linear-gradient(green,white);
	/*Opera*/
	background-image:-o-linear-gradient(green,white);
	padding:10px;
	display:inline-block;
	padding:7px;
	width:32%;
	border-radius:10px;
}

#Luciano{
	/*Safari,Chrome*/
	background-image:-webkit-linear-gradient(pink,white);
	/*Firefox*/
	background-image:-moz-linear-gradient(pink,white);
	/*Opera*/
	background-image:-o-linear-gradient(pink,white);
	padding:10px;
	display:inline-block;
	padding:7px;
	width:32%;
	border-radius:10px;
}

#alinhamento{
	margin:0 auto;
}

#logo{
	float:left;
}

#menu{
	float:right;
	margin-top:10px;
}

#menu a{
	font-family:Arial;
	text-decoration:none;
	color:black;
	text-shadow:1px 1px 1px gray;
	padding:10px 30px;
}

#menu a:hover{
	background-color:#35b8b0;
	-webkit-transition:0.5s;
}

/*Class*/
.container{
	margin:0 auto;
	width:800px;
}

.efeito{
	background-color:rgba(0,0,0,0.3);
	padding:20px;
	border-radius:20px;
}

.envio{
	background-color:rgba(0,0,0,0.3);
	padding:20px;
	border-radius:20px;
	color:white;
}
	
/*PHP*/
span.texto{
				font-size:<?php echo $tam;?>;
				color:<?php echo $cor;?>;
			}